<?xml version="1.0"?>
<!--
/**
* SMD
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://www.magemobiledesign.com/LICENSE.txt
*
* ==============================================================
*                 MAGENTO EDITION USAGE NOTICE
* ==============================================================
* This package designed for Magento COMMUNITY edition
* SMD does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* SMD does not provide extension support in case of
* incorrect edition usage.
* ==============================================================
*
* @category    SMD
* @package     SMD_Stylisthub
* @version     1.2.3
* @author      SMD Team <support@magemobiledesign.com>
* @copyright   Copyright (c) 2014 SMD. (http://www.magemobiledesign.com)
* @license     http://www.magemobiledesign.com/LICENSE.txt
*
*/
-->
<config>
    <tabs>
        <smd translate="label" module="stylisthub">
            <label>Mage Mobile Design</label>
            <sort_order>100</sort_order>
        </smd>
    </tabs>
    <sections>
        <stylisthub translate="label" module="stylisthub">
            <label>Stylisthub</label>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>smd</tab>
            <groups>
                <stylisthub translate="label">
                    <label>General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <activate translate="label">
                            <label>Activate Stylisthub</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activate>
                      <!--  <apply_smd_licensekey translate="label">
                            <label>Enter License Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <validate>required-entry</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apply_smd_licensekey>      -->
                        <admin_email_id translate="label">
                            <label>Email ID</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Go to System -> Configuration ->Store Email Addresses</comment>
                        </admin_email_id>
                        <facebook_page translate="label">
                            <label>Enter Facebook page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>(Please provide only the page name not full url)</comment>
                        </facebook_page>
                        <twitter_page translate="label">
                            <label>Enter Twitter page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>(Please provide only the page name not full url)</comment>
                        </twitter_page>
                        <google_page translate="label">
                            <label>Enter Google page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>(Please provide only the page name not full url)</comment>
                        </google_page>
                    </fields>
                </stylisthub>
            </groups>

            <groups>
                <admin_approval_stylist_registration translate="label">
                    <label>Stylist Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <need_approval translate="label">
                            <label>Need Admin Approval for Stylist Registration</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </need_approval>
                        <new_stylist_template translate="label">
                            <label>New Stylist Registration Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_stylist_template>
                        <email_template_selection translate="label">
                            <label>Select Stylist Registration Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template_selection>
                        <stylist_email_template_selection translate="label">
                            <label>Select Admin Approval Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stylist_email_template_selection>
                        <stylist_email_template_disapprove translate="label">
                            <label>Select Admin Disapproval Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stylist_email_template_disapprove>
                        <contact_admin translate="label">
                            <label>Contact Admin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </contact_admin>
                        <vacation_mode translate="label">
                            <label>Enable Stylist Vacation Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </vacation_mode>
                        <contact_email_template_selection translate="label">
                            <label>Select Contact Admin Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </contact_email_template_selection>
                        <sales_notification translate="label">
                            <label>Sales Email Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sales_notification>
                        <sales_notification_template_selection translate="label">
                            <label>Select Sales Notification Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sales_notification_template_selection>
                        <cancel_order_notification translate="label">
                            <label>Cancel Order Email Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_order_notification>
                        <cancel_notification_template_selection translate="label">
                            <label>Select Cancel Order Notification Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_notification_template_selection>
                        <displayproductpage translate="label">
                            <label>Display Stylist profile link in product detail page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </displayproductpage>
                        <display_popular translate="label">
                            <label>Display Popular Product in stylist profile page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_popular>
                        <display_new translate="label">
                            <label>Display New Product in stylist profile page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_new>
                        <display_categories translate="label">
                            <label>Display Category link in stylist profile page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_categories>
                    </fields>
                </admin_approval_stylist_registration>
            </groups>

            <groups>
                <stylist_review translate="label">
                    <label>Stylist Review</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_review translate="label">
                            <label>Enable Stylist Review</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable Stylist Review in stylist profile page</comment>
                        </enable_review>
                        <need_approval translate="label">
                            <label>Need Admin Approval</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </need_approval>
                        <admin_notify_review translate="label">
                            <label>Select Email Template for New Review Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </admin_notify_review>
                        <approve_review translate="label">
                            <label>Select Email Template for Review Approval Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </approve_review>
                    </fields>
                </stylist_review>
            </groups>


            <groups>
                <product translate="label">
                    <label>Product Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <productapproval translate="label">
                            <label>Product Auto Approval</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </productapproval>
                        <producttype translate="label">
                            <label>Select Product Type(s)</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>stylisthub/system_config_source_types</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>(Press Ctrl+Select to select multiple product types)</comment>
                        </producttype>
                        <productcustomoptions translate="label">
                            <label>Product Custom Option</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </productcustomoptions>
                        <addproductemailnotification translate="label">
                            <label>New Product Email Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addproductemailnotification>

                        <addproductemailnotificationtemplate translate="label">
                            <label>Select Email Template for New Product Added Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addproductemailnotificationtemplate>

                        <addproductapprovalemailnotificationtemplate translate="label">
                            <label>Select Email Template for New Product Approval Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addproductapprovalemailnotificationtemplate>

                        <productmodificationnotification translate="label">
                            <label>Product Enabled/Disabled Email Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </productmodificationnotification>

                        <addproductenabledemailnotificationtemplate translate="label">
                            <label>Select Email Template for Product Enabled Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addproductenabledemailnotificationtemplate>
                        <addproductdisabledemailnotificationtemplate translate="label">
                            <label>Select Email Template for Product Disabled Notification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addproductdisabledemailnotificationtemplate>
                        <set_banner translate="label">
                            <label>Allow stylist to set product as home page banner images</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </set_banner>
                        <product_sold_count translate="label">
                            <label>Enable Product Sold Count</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_sold_count>
                    </fields>
                </product>
            </groups>
        </stylisthub>
    </sections>
</config>
